<nav class="navbar navbar-expand-lg navbar-light"style="background-color: #1A5276;">
    <div class="container-fluid">    
      <i class="bi bi-camera-reels-fill" style="color:black"></i>
    <a class="navbar-brand" href="#">Moviestore</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
        <li class="nav-item ">
          <a class="nav-link active" aria-current="page" routerLink="/movies">Home</a>
        </li>
        <li class="nav-item">
         <a class="nav-link" href="#">Movies</a>
           </li>
           <li class="nav-item" >
            <a class="nav-link" href="#">Actors</a>
          </li>
          
          <li class="nav-item" >
            <a class="nav-link" routerLink='/login'>Login</a>
          </li>
          
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" style="width:210px" placeholder="Search" aria-label="Search">
          <span><i class="bi bi-search"></i></span>
          
        </form>
       
      
     
    </div>
    </div>
</nav>